$slate: #555354;
$light-border: 1px solid #ddd;
$dark-border: 1px solid #9b9b9b;
$background: #f0f0f0;
$link: #2b3aad;

$shadow: 0 .125rem .25rem rgba(0,0,0,.075);

@mixin tile {
    box-shadow: $shadow;
    background-color: #fff;
    
    & .tweet-body {
        &:nth-child(even) {
            background-color: #f0f0f0;
        }
    }

    & .hashtags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        & .hashtag {
            background-color: #0095ff52;
            border-radius: 2rem;
            color: $link;
            height: 2rem;
            padding: .2rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .6rem;
        }
    }
}