@import '_globals';

// desktop
.container {
    width: 70%;

    & .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        & .col {
            padding: .5rem 0rem .5rem .5rem;
            
            &.col-1 {
                width: 65%;
            }
            &.col-2 {
                width: 35%;
            }
        }
    }
}