@import '_globals.scss';

.tweet-content {
    & .tweet-list {
        @include tile;
    
        & .row {
            &:nth-child(even) {
                background-color: #f0f0f0;
            }
        }
    
        // & .hashtag {
        //     &:first-child {
        //         margin-left: 0rem;
        //     }
        // }
    }
    & .load-more {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $link;
        cursor: pointer;
    }
}