@import '_globals.scss';

.tweet-content {
    & .tweet-list {
        @include tile;
    
        & .row {
            &:nth-child(even) {
                background-color: #f0f0f0;
            }
        }
    }
    & .load-more {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
        box-shadow: $shadow;

        & .load-more-text {
            color: $link;
            cursor: pointer;
        }

        &:nth-child(odd) {
            background-color: #f0f0f0;
        }
    }
}